@import "modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family: "Roboto", sans-serif;
  --color-bg: #F5F5F6;
  --color-white: #FFFFFF;
  --color-text: #434455;
  
}


body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  height: 100%;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

main {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}
